---
layout: default
title: 理性与感性认识
---
<link rel="stylesheet" type="text/css" href="/gitblog/css/index/index.css">
<div class="bc-container">
	<div class="bc-row index-head">
		<div class="grid-col-25">
			<a href="https://github.com/brucecham" title="传送门GitHub">
				<span class="info-title">Litao Zhang</span>
			</a>
		</div>
		<div class="headImg0" title="点击关闭背景音乐" data-type="open" id="musicBar"></div>
		<div id="container" class="canvasbox">
			<canvas id="waterfall" width="100" height="140"></canvas>
		</div>
		<div class="abird"></div>
	</div>
</div>
<div class="bc-container">
	<div class="bc-row">
		<div class="grid-col-25 bc-section">
			<h2>
				<span class="sec-titlebar"></span>
				H5项目集
			</h2>
			<section>
				<ul id="h5listId"></ul>
			</section>
		</div>
	</div>
</div>

<div class="bc-container">
	<div class="bc-row">

		<div class="grid-col-8 bc-section2">
			<h2>
				<span class="sec-titlebar"></span>
				小demo预览
			</h2>
			<section>
				<!--遍历demo-->
				<ul>
					{% for post in site.categories.demo %}
					<li>
						{{ post.date | date:"%Y/%m/%d" }}
						<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</section>
		</div>

		<div class="grid-col-9 bc-section2">
			<h2>
				<span class="sec-titlebar"></span>
				技术分享
			</h2>
			<section>
				<!--遍历js类文章-->
				<ul>
					{% for post in site.categories.js %}
					<li>
						{{ post.date | date:"%Y/%m/%d" }}
						<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</section>
		</div>
		<div class="grid-col-8 bc-section2">
			<h2>
				<span class="sec-titlebar"></span>
				文字集选
			</h2>
			<section>
				<!--遍历文科类文章-->
				<ul>
					{% for post in site.categories.word %}
					<li>
						{{ post.date | date:"%Y/%m/%d" }}
						<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</div>
</div>
<audio src="/gitblog/audio/index/index.mp3" preload="preload" loop="" style="display:none;" id="loveheart"></audio>
<script type="text/javascript" src="/gitblog/lib/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/gitblog/js/index/index.js"></script>