---
layout: default
title: 理性与感性认识
---
<link rel="stylesheet" type="text/css" href="/gitblog/css/index/index.css">
<div class="bc-container">
	<div class="bc-row index-head">
		<div class="grid-col-25">
			<a href="https://github.com/brucecham" title="传送门GitHub">
				<span class="info-title">Litao Zhang</span>
			</a>
		</div>
		<div class="headImg0" title="点击关闭背景音乐" data-type="open" id="musicBar"></div>
		<div id="container" class="canvasbox">
			<canvas id="waterfall" width="100" height="140"></canvas>
		</div>
		<div class="abird"></div>
	</div>
</div>
<div class="bc-container">
	<div class="bc-row">
		<div class="bc-grid-25 bc-section">
			<h2>
				<span class="sec-titlebar"></span>
				H5项目集
			</h2>
			<section>
				<ul id="h5listId">
					<li>
						<a href="/gitblog/2015/02/28/hello-world.html">
							<div class="liTitle">波波宝项目演示</div>
							<div class="imgBox">
								<img src="/gitblog/images/h5_love/wxImg1.jpg">
								<div class="imgZindex"></div>
							</div>
							<p class="liHead">在水伊人1023</p>
							<p>2015-03-09</p>
						</a>
					</li>
					<li>
						<a href="/gitblog/2015/02/28/hello-world.html">
							<div class="liTitle">波波宝项目演示</div>
							<div class="imgBox">
								<img src="/gitblog/images/h5_love/wxImg1.jpg">
								<div class="imgZindex"></div>
							</div>
							<p class="liHead">在水伊人1023</p>
							<p>2015-03-09</p>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>

	<div class="bc-container">
	<div class="bc-row">
		<div class="bc-grid-25 bc-section2">
			<h2>
				<span class="sec-titlebar"></span>
				博客文集
			</h2>
			<section>
				<!--遍历全部文章-->
				<!-- <ul>
			　　　　{% for post in site.posts %}
						{% if post.article %} 
							<li>{{ post.date | date_to_string  }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{post.tags}}</a></li>
						{% endif %}
			　　　　{% endfor %}
			　　</ul> -->
				<!--遍历js类文章-->
				<ul>
			　　　　{% for post in site.categories.js %}
						<li>{{ post.date | date:"%Y-%M-%D" }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
			　　　　{% endfor %}
			　　</ul>
			</section>
		</div>
	</div>
</div>
<audio src="/gitblog/audio/index/index.mp3" preload="preload" loop="" style="display:none;" id="loveheart"></audio>
<script type="text/javascript" src="/gitblog/lib/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/gitblog/js/index/canvas.js"></script>
<script type="text/javascript">
$.ajax({
		type:"get",
		url:"/gitblog/json/index/h5list.json",
		dataType: "json",
		success: function(res){
			document.getElementById("loveheart").play();
			$("#musicBar").click(function(event) {
				var T = $(event.currentTarget);
				if( T.data("type") == "open"){
					document.getElementById("loveheart").pause();
					T.attr("title","点击打开背景音乐").data("type","close");
				}else{
					document.getElementById("loveheart").play();
					T.attr("title","点击关闭背景音乐").data("type","open");
				}
			});
			if(res.resultCode == "000000"){
				var $container = $('#h5listId');
				if( res.data.length <= 0 ){
					$container.html('<p style="text-align:center;">暂未开放，敬请期待</p>');
					return;
				}
				var h = '';
				for(var i = 0;i < res.data.length;i++){
					var o = res.data[i];
					if( o.img == "" ){
						o.img = '/gitblog/images/h5_love/wxImg1.jpg'
					}
					if(o.open){
						h += '<li><a href="'+o.url+'" title="传送门：'+o.title+'"><div class="liTitle">'+o.title+'</div><div class="imgBox"><img src="'+o.img+'"><div class="imgZindex"></div></div><p class="liHead">'+o.desc+'</p><p>'+o.date+'</p></a></li>';
					}else{
						h += '<li><a href=":;" title="传送门未开启"><div class="liTitle">'+o.title+'</div><div class="imgBox"><img src="'+o.img+'"><div class="imgZindex"></div></div><p class="liHead">'+o.desc+'</p><p>'+o.date+'</p></a></li>';
					}
				}
				$container.html( h );
			}else{
				alert(res.resultMsg);
			}
		},
		error: function(e){
			alert("数据加载失败");
		}
	});
</script>